<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<logger name="tw.mike.star.appcore" level="DEBUG"/>
	<logger name="org.springframework.web" level="INFO"/>
	<logger name="dao" level="DEBUG" />  <!-- mybatis.sql	-->


	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

</configuration>
